<div>
  <form [formGroup]="memberAddressForm" (ngSubmit)="handleSubmitMemberAddressAction()">
    <br>
    <div class="card flex flex-column md:flex-column gap-4">
      <span class="p-float-label flex flex-column">
        <p-inputMask inputId="integeronly" mask="99999-999" [(ngModel)]="cep" formControlName="cep"></p-inputMask>
        <label for="float-label">Cep</label>
      </span>
      <span class="p-float-label flex flex-column">
        <input type="text" pInputText formControlName="municipio" />
        <label for="float-label">Município</label>
      </span>
        <span class="p-float-label flex flex-column">
          <p-dropdown [showClear]="true" [filter]="true" filterBy="streetType_id" styleClass="w-full"
            formControlName="tipoLogradouro" optionLabel="name" [options] ="tipoLogradouro"></p-dropdown>
          <label for="float-label">Tipo Logradouro</label>
        </span>
        <span class="p-float-label flex flex-column">
          <input pInputText formControlName="logradouro" />
          <label for="float-label">Logradouro</label>
        </span>
        <span class="p-float-label flex flex-column">
          <input type="number" pInputText formControlName="numero" />
          <label for="float-label">Numero</label>
        </span>
        <span class="p-float-label flex flex-column">
          <input type="text" pInputText formControlName="complemento" />
          <label for="float-label">Complemento</label>
        </span>
        <span class="p-float-label flex flex-column">
          <input type="text" pInputText formControlName="bairro" />
          <label for="float-label">Bairro</label>
        </span>
        <span class="p-float-label flex flex-column">
            <p-inputMask inputId="integeronly" mask="9.999.999-9" [(ngModel)]="inscricaoEstadual" formControlName="inscricaoEstadual"></p-inputMask>
            <label for="float-label">Inscrição Estadual</label>
          </span>
          <span class="p-float-label flex flex-column">
            <input type="text" pInputText formControlName="municipio" />
            <label for="float-label">Município</label>
          </span>
          <span class="p-float-label flex flex-column">
            <p-dropdown [showClear]="true" [filter]="true" filterBy="streetType_id" styleClass="w-full"
              formControlName="estado" optionLabel="name" [options] ="opcaoEstado"></p-dropdown>
            <label for="float-label">Estado</label>
          </span>
        <div class="flex flex-row justify-content-center align-content-center align-itens-center m-1">
          <p-button [disabled]="!memberAddressForm.valid" type="submit" id="submit" label="Concluir"></p-button>
        </div>
    </div>
  </form>
</div>