<div class="grid">
  <div class="col-12">
    <div class="flex justify-content-end">
    </div>
      <p-table
        #productsTable
        [value]="userGroup"
        [(selection)]="userGroupSelected"
        [rows]="5"
        [paginator]="true"
        [responsive]="true"
        [resizableColumns]="true"
        columnResizeMode="expand"
        styleClass="p-datatable-gridlines"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
        [globalFilterFields]="['CODIGO', 'descricao', 'status', 'empresa', 'perfil']"
        dataKey="CODIGO"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
      >

      <ng-template pTemplate="caption">
        <div class="flex">

          <div class="mr-5">
          <span class="p-buttonset">
            <button pButton pRipple icon="pi pi-plus" pTooltip="Adicionar Grupo" (click)="handleUserGroupEvent(addUserGroupAction)"></button>
            <button pButton pRipple icon="pi pi-check" pTooltip="Editar Grupo" (click)="handleUserGroupEvent(editUserGroupAction)"></button>
            <button pButton pRipple icon="pi pi-trash" pTooltip="Desativar Grupo" (click)="handleUserGroupEvent(disableUserGroupAction)"></button>
          </span>
          </div>


          <div class="flex justify-content-center">
          <button type="button" pButton pRipple icon="pi pi-file" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
          </div>


          <!-- <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px'}" placeholder="Choose Columns"></p-multiSelect> -->

          <span class="p-input-icon-left ml-auto mr-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="productsTable.filterGlobal($event.target, 'contains')" placeholder="Pesquisar" />
          </span>
          <button pButton label="Limpar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(productsTable)"></button>

        </div>

      </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pResizableColumn pSortableColumn="CODIGO">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Código
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="CODIGO"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="CODIGO"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="true"
                    [showOperator]="false"
                    [showAddButton]="true"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pResizableColumn pSortableColumn="status">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Status
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="status"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="status"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="true"
                    [showOperator]="false"
                    [showAddButton]="true"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pResizableColumn pSortableColumn="empresa">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Empresa
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="empresa"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="empresa"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="true"
                    [showOperator]="false"
                    [showAddButton]="true"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pResizableColumn pSortableColumn="descricao">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Descrição
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="descricao"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="descricao"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="true"
                    [showOperator]="false"
                    [showAddButton]="true"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pResizableColumn pSortableColumn="perfil">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Perfil
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="perfil"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="perfil"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="true"
                    [showOperator]="false"
                    [showAddButton]="true"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
          <tr>
            <td>
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td>{{ user.CODIGO }}</td>
            <td>{{ user.status }}</td>
            <td>{{ user.empresa }}</td>
            <td>{{ user.descricao }}</td>
            <td>{{ user.perfil }}</td>
          </tr>
        </ng-template>

      </p-table>

  </div>
</div>
