<app-toolbar-navigation></app-toolbar-navigation>

<div>
  <div class="grid">
    <div class="col-12">
      <p-card
        styleClass="shadow-3 m-1 text-indigo-800"
      > Cadastro Grupo Integrante
      <app-grupo-integrante-tabela *ngIf="!showForm" (memberGroupEvent)="handlerMemberGroupAction($event)"></app-grupo-integrante-tabela>
      <app-grupo-integrante-formulario *ngIf="showForm" (cancelEvent)="showForm = false"></app-grupo-integrante-formulario>
      </p-card>
    </div>
  </div>
</div>