<app-toolbar-navigation></app-toolbar-navigation>
<div class="gray-bar">
  <h3 class="fixed-title">Cadastro de Grupo de Produtos</h3>
</div>
<div [style]="{'height': '88vh'}">
        <app-group-user-table
        *ngIf="!showForm"
        [userGroup]="userGrupDatas"
        (userGroupEvent)="handlerUserGroupAction($event)"></app-group-user-table>
        <app-group-user-form
        *ngIf="showForm"
        (cancelEvent)="showForm = false; eventData = null; handleFormSubmissionSuccess()"></app-group-user-form>
  </div>

