<!-- FORMULARIO DE NOVO PRODUTO -->
<div>
  <form [formGroup]="userForm" (ngSubmit)="handleSubmitUserAction()">
    <div class="card flex flex-column md:flex-column gap-4">
      <div></div>
      <span class="p-float-label flex flex-column">
        <p-dropdown [showClear]="true" [filter]="true" filterBy="usuario_id" styleClass="w-full"
          formControlName="funcionario_id" optionLabel="Funcionario" optionValue="id"></p-dropdown>
        <label for="float-label">Funcionário</label>
      </span>
      <span class="p-float-label flex flex-column">
        <p-dropdown [showClear]="true" [filter]="true" filterBy="grupoUsuario_id" styleClass="w-full"
          formControlName="grupoUsuario_id" optionLabel="grupoUsuario" optionValue="id"></p-dropdown>
        <label for="float-label">Grupo de Usuário</label>
      </span>
      <span class="p-float-label flex flex-column">
        <input pInputText formControlName="login" />
        <label for="float-label">Login</label>
      </span>
      <span class="p-float-label flex flex-column">
        <input type="password" pInputText formControlName="senha" />
        <label for="float-label">Senha</label>
      </span>

      <div class="flex flex-row justify-content-center align-content-center align-itens-center m-1">
        <p-button [disabled]="!userForm.valid" type="submit" label="Concluir"></p-button>
      </div>
    </div>
  </form>
</div>
