<!-- FORMULARIO DE NOVO PRODUTO -->
<div>
  <form [formGroup]="userForm" (ngSubmit)="handleSubmitUserAction()">
    <div class="card flex flex-column md:flex-column gap-3">
      <p-dropdown
      styleClass="w-full"
      formControlName="member_id"
      optionLabel="name"
      optionValue="id"
      placeholder="Selecione um Funcionario"
      ></p-dropdown>
      <p-dropdown
      styleClass="w-full"
      formControlName="groupMember_id"
      optionLabel="name"
      optionValue="id"
      placeholder="Selecione um Grupo de Usuario"
      ></p-dropdown>
      <input pInputText placeholder="Nome" formControlName="name" />
      <input pInputText placeholder="Login" formControlName="login" />
      <input type="password" pInputText placeholder="Senha" formControlName="password" />

      <div class="flex flex-row justify-content-center align-content-center align-itens-center m-1">
        <p-button
        [disabled]="!userForm.valid"
        type="submit"
        label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>
