
<div class="flex justify-content-end">
</div>
  <p-table
    #ProductTable
    [rows]="10"
    [paginator]="true"
    [responsive]="true"
    [resizableColumns]="true"
    columnResizeMode="expand"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowHover]="true"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
    [globalFilterFields]="['name', 'login', 'product.name', 'groupProduct.name']"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
  >

  <ng-template pTemplate="caption">

    <div class="flex">

      <div class="mr-5">
      <span class="p-buttonset">
        <button pButton pRipple icon="pi pi-plus" pTooltip="Adicionar Produto" (click)="handleProductEvent(addProductAction)"></button>
        <button pButton pRipple icon="pi pi-check" pTooltip="Editar Produto" (click)="handleProductEvent(editProductAction)"></button>
        <button pButton pRipple icon="pi pi-trash" pTooltip="Remover Produto"></button>
      </span>
      </div>


      <div class="flex justify-content-center">
      <button type="button" pButton pRipple icon="pi pi-file" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
      </div>


      <!-- <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
        selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px'}" placeholder="Choose Columns"></p-multiSelect> -->

      <span class="p-input-icon-left ml-auto mr-2">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Pesquisar" />
      </span>
      <button pButton label="Limpar" class="p-button-outlined" icon="pi pi-filter-slash"></button>

    </div>

  </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pResizableColumn pSortableColumn="descricao">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Descrição
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="descricao"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="descricao"
                display="menu"
                matchMode="contains"
                [showMatchModes]="true"
                [showOperator]="false"
                [showAddButton]="true"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pResizableColumn pSortableColumn="grupoProduto.descricao">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Grupo
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="grupoProduto.descricao"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="grupoProduto.descricao"
                display="menu"
                matchMode="contains"
                [showMatchModes]="true"
                [showOperator]="false"
                [showAddButton]="true"
              ></p-columnFilter>
            </div>
          </div>
        </th>
        <th pResizableColumn pSortableColumn="deposito.descricao">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Depósito
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="deposito.descricao"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="deposito.descricao"
                display="menu"
                matchMode="contains"
                [showMatchModes]="true"
                [showOperator]="false"
                [showAddButton]="true"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pResizableColumn pSortableColumn="deposito.quantidadeDisponivel">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Quantidade Estoque
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="deposito.quantidadeDisponivel"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="deposito.quantidadeDisponivel"
                display="menu"
                matchMode="contains"
                [showMatchModes]="true"
                [showOperator]="false"
                [showAddButton]="true"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pResizableColumn pSortableColumn="tabelaPreco.valorVarejo">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Valor Varejo
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="tabelaPreco.valorVarejo"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="tabelaPreco.valorVarejo"
                display="menu"
                matchMode="contains"
                [showMatchModes]="true"
                [showOperator]="false"
                [showAddButton]="true"
              ></p-columnFilter>
            </div>
          </div>
        </th>
      </tr>
    </ng-template>
  </p-table>
