<div>
  <form [formGroup]="unitMeasureForm" (ngSubmit)="handleSubmitUnitMeasureAction()">

      <span class="p-float-label flex flex-column">
        <input pInputText formControlName="description" />
        <label for="float-label">Descrição</label>
      </span>

      <span class="p-float-label flex flex-column">
        <input pInputText formControlName="abbreviation" />
        <label for="float-label">Sigla</label>
      </span>

          <div class="card flex flex-column md:flex-column gap-4">
            <div class="flex flex-row justify-content-left align-content-center align-itens-center m-1">
              <p-button class="mr-2" [disabled]="!unitMeasureForm.valid" type="submit" label="Confirmar"></p-button>
              <p-button type="submit" label="Cancelar" styleClass="red-button" (onClick)="cancelEvent.emit()" ></p-button>
            </div>
          </div>
  </form>
</div>
