<div>
  <form [formGroup]="memberAddressForm" (ngSubmit)="handleSubmitMemberAddressAction()">
    <div class="card flex flex-column md:flex-column gap-4">
      <div></div>

      <span class="p-float-label flex flex-column">
        <input pInputText formControlName="zipCode" />
        <label for="float-label">Cep</label>
      </span>
      <span class="p-float-label flex flex-column">
        <p-dropdown [showClear]="true" [filter]="true" filterBy="county_id" styleClass="w-full"
          formControlName="county_id" optionLabel="name" optionValue="id"></p-dropdown>
        <label for="float-label">Municipio</label>
      </span>
      <span class="p-float-label flex flex-column">
        <p-dropdown [showClear]="true" [filter]="true" filterBy="streetType_id" styleClass="w-full"
          formControlName="streetType_id" optionLabel="name" optionValue="id"></p-dropdown>
        <label for="float-label">Tipo Logradouro</label>
      </span>
      <span class="p-float-label flex flex-column">
        <input pInputText formControlName="street" />
        <label for="float-label">Logradouro</label>
      </span>
      <span class="p-float-label flex flex-column">
        <input type="email" pInputText formControlName="number" />
        <label for="float-label">Numero</label>
      </span>
      <span class="p-float-label flex flex-column">
        <input type="email" pInputText formControlName="complement" />
        <label for="float-label">Complemento</label>
      </span>
      <span class="p-float-label flex flex-column">
        <input type="taxt" pInputText formControlName="district" />
        <label for="float-label">Bairro</label>
      </span>

      <div class="flex flex-row justify-content-center align-content-center align-itens-center m-1">
        <p-button [disabled]="!memberAddressForm.valid" type="submit" label="Concluir"></p-button>
      </div>
    </div>
  </form>
</div>
