
  <div class="gray-bar">
    <h3 class="fixed-title">Cadastro de Grupo de Produtos</h3>
  </div>

  <div class="mt-2">
    <div class="gap-4">
      <form [formGroup]="userGroupForm" (ngSubmit)="handleSubmitUserGroupAction()">
        <div class="card flex flex-column md:flex-column gap-4">

        <div class="flex flex-row">
          <span class="p-float-label flex flex-column mr-2">
            <input pInputText formControlName="status" [disabled]="true" />
            <label for="float-label">Status</label>
          </span>

          <span class="p-float-label flex flex-column mr-2">
            <input pInputText formControlName="empresa" />
            <label for="float-label">Empresa</label>
          </span>

          <span class="p-float-label flex flex-column">
            <input pInputText formControlName="versao" />
            <label for="float-label">Versão</label>
          </span>
        </div>

        <span class="p-float-label flex flex-column">
          <input pInputText formControlName="descricao" />
          <label for="float-label">Descrição</label>
        </span>

        <span class="p-float-label flex flex-column">
          <p-dropdown [showClear]="true" [options]="usuarioPerfilEnum" [(ngModel)]="selectionUserGroupType" optionLabel="label" filterBy="perfil_id" styleClass="w-full"
            formControlName="perfil"></p-dropdown>
          <label for="float-label">Perfil</label>
        </span>

        <div class="mt-2">
        <div class="card flex flex-column md:flex-column gap-4">
          <div class="flex flex-row justify-content-left align-content-center align-itens-center m-1">
            <p-button class="mr-2" [disabled]="!userGroupForm.valid" type="submit" label="Confirmar"></p-button>
            <p-button type="submit" label="Cancelar" styleClass="red-button" (onClick)="cancelEvent.emit()"></p-button>
          </div>
        </div>
        </div>
        </div>
      </form>
    </div>
  </div>

